.profilepage {
  display: flex;

  gap: 8rem;

  background-image: url("https://media.glassdoor.com/l/ef/9a/d9/3f/valtech-india.jpg");

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;
}

.details_profile {
  margin: 100px auto;

  background-color: white;
}
