
.gradient-custom {
  background: #779be3;
  background: -webkit-linear-gradient(to right bottom, rgb(56, 59, 228), rgb(132, 46, 213));
  background: linear-gradient(to right bottom, rgb(4, 6, 93), rgb(132, 46, 213))
  }

.userprofile{
  height: 100vh;
}